/* =========================
   BASE
========================= */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* =========================
   VITE BODY FIX
========================= */

body {
  margin: 0;
  min-width: 320px;

  /* mantém o comportamento do vite
     mas permite o app expandir */
  display: flex;
}

/* =========================
   TYPOGRAPHY / DEFAULTS
========================= */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* =========================
   APP LAYOUT ROOT
========================= */

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

/* =========================
   NAVBAR
========================= */

.navbar {
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  flex-shrink: 0;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
  border-bottom: 1px solid #444;

  position: sticky;
  top: 0;

  background: white; 
  z-index: 10;
}

.add-btn {
  background: #646cff;
  border: none;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

/* =========================
   MAIN LAYOUT
========================= */

.container {
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 4fr 1fr; /* 80% / 20% */
  flex: 1;
  min-height: 0;
}

.left {
  border-right: 1px solid #ddd;
  overflow: auto;
}

.right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 0;
}

.right > div {
  border-bottom: 1px solid #ddd;
  overflow: auto;
}

.right > div:last-child {
  border-bottom: none;
}

@media (aspect-ratio < 1) {
  .container {
    grid-template-columns: 1fr; /* 100% */
    grid-template-rows: 5fr 4fr; /* 50% / 50% */
  }

  .left {
    border: 20px solid #0000;
  }

  .right {
    grid-template-rows: auto auto; /* 50% / 50% */
    grid-template-columns: auto auto;
    border: 20px solid #0000;
  }
}

@media (aspect-ratio >= 1){
  .container {
    grid-template-columns: 3fr 2fr; /* 80% / 20% */
    grid-template-rows: none;
  }

  .left {
    border-right: 1px solid #ddd;
    border: 20px solid #0000;
  }

  .right {
    border: 20px solid #0000;
    grid-template-columns: none;
    grid-template-rows: auto auto; /* 50% / 50% */
  }
}

/* =========================
   LIGHT MODE
========================= */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

  painel-header {
    background: white;
  }
}

/* =========================
    MODAL 
========================= */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal {
  background: #1f2937;
  padding: 24px;
  border-radius: 8px;
  min-width: 320px;
}

/* =========================
    Suggestions
========================= */

.suggestion-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-row {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 16px;
  padding: 8px 0;
}

.col-possible {
  color: #888;
  font-size: 0.9em;
}

/* =========================
    Materials
========================= */

.material-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.material-row {
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  display: grid;
  gap: 8px;
  padding: 8px 0;
}

/* =========================
    Products
========================= */
.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-row {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 16px;
  padding: 8px 0;
  justify-content: space-between;
}

/* =========================
    Button Groups
========================= */
.button-delete {
  background: #3e0404;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.button-edit {
  background: #bab84a;
  border: none;
  color: rgb(253, 255, 145);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.button-register {
  background: #35638f;
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.button-produce {
  background: #93a739;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  justify-self: end;
}

.button-shopping {
  background: #b98937;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px;
}